.sign-data__title {
    width: 358px;
    height: 29px;
    font-weight: 900;
    size: 24px;
    line-height: 29px;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    margin-top: 18px;
}

/* @media screen and (max-width: 800px) {
    .sign-data__title  {
        margin-left: 27px;
}
} */